docker-build:
  stage: build
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - ''
    - tag=$CI_COMMIT_REF_NAME-$CI_COMMIT_SHA
    - docker build --pull -t "$CI_REGISTRY_IMAGE:latest" -t "$CI_REGISTRY_IMAGE:${tag}"
      .
    - docker push "$CI_REGISTRY_IMAGE:latest"
    - docker push "$CI_REGISTRY_IMAGE:${tag}"
    - docker system prune -a
  rules:
    - if: "$CI_COMMIT_BRANCH"
      exists:
        - Dockerfile

qodana:
   image:
      name: jetbrains/qodana-jvm-community
      entrypoint: [""]
   cache:
      - key: qodana-2023.3-$CI_DEFAULT_BRANCH-$CI_COMMIT_REF_SLUG
        fallback_keys:
           - qodana-2023.3-$CI_DEFAULT_BRANCH-
           - qodana-2023.3-
        paths:
           - .qodana/cache
   script:
      - qodana --save-report --results-dir=$CI_PROJECT_DIR/.qodana/results
         --cache-dir=$CI_PROJECT_DIR/.qodana/cache
   artifacts:
      paths:
         - qodana/result/
      expose_as: 'Qodana report'
